<h1 class="text-info">{{heroe.nombre | uppercase}} (<small>{{heroe.aparicion | date: 'y'}}</small>)</h1>

<hr>

<div class="card mb-3" style="max-width: 550px; margin-left: auto; margin-right: auto;">
    <div class="row no-gutters animated fadeIn">
        <div class="col-md-4">
            <img [src]="heroe.img" [alt]="heroe.img" class="img-fluid">
            <br /><br />
            <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block m-2">Regresar</a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-info">{{heroe.nombre}}</h5>
                <hr>
                <p class="card-text text-info">{{heroe.bio}}</p>
                <div>
                    <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/images/marvel-logo.png" alt="Marvel">

                    <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/images/dc-logo.jpg" alt="Dc">
                </div>
            </div>
        </div>
    </div>
</div>